<!-- Footer Style -->
<style>
.copyright { 
  font-family: 'Josefin Sans', sans-serif;
}
</style>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted copyright">Copyright &copy; 2019, AO23 LTD. ALL RIGHTS RESERVED</div>
  </div>
</footer>